@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC Company</h1>
    <p class="lead">ABC Company global professional services company with leading capabilities in digital, cloud and security.</p>
    <p><a href="https://localhost:44389/Home/Contact" class="btn btn-primary btn-lg">Contact Info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account Creation Form</h2>
        <p>
           Following form can be filled for account creation purpose in order to apply for vaccant positions.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44389/Home/ContactForm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vacant Positions</h2>
        <p>To know about available vacant roles</p>
        <p><a class="btn btn-default" href="https://localhost:44389/Home/About">Learn more &raquo;</a></p>
    </div>
   
    
</div>

